<div class="footer">

        <div class="container">

            <div class="footer-info slideanim">
                <div class="col-md-3 footer-info-grid links">
                	<h4>快速链接</h4>
                	<ul>
	                    <li><a href="#">Home</a></li>
	                    <li><a href="#cover">Coverage</a></li>
	                    <li><a href="#offer">Offers</a></li>
	                    <li><a href="#service">Services</a></li>
	                    <li><a href="#contact">Contact</a></li>
	                </ul>
                </div>
                <div class="col-md-3 footer-info-grid services">
                	<h4>经营业务</h4>
                	<ul>
	                    <li>路由器</li>
	                    <li>VOIP</li>
	                    <li>网络安全</li>
	                </ul>
                </div>
                <div class="col-md-3 footer-info-grid address">
                	<h4>公司地址</h4>
                	<address>
                        {% for firm in Company %}
                            <ul>
	                    	<li>{{ firm.FirmAddr }}</li>
	                    	<li>{{ firm.FirmCity }}</li>
	                    	<li>{{ firm.FirmCountry }}</li>
	                    	<li>Telephone : {{ firm.FirmTel }}</li>
	                    	<li>Email : <a class="mail" href="{{ firm.FirmEmail }}">{{ firm.FirmEmail }}</a></li>
                            </ul>
                        {% endfor %}
	               </address>
                </div>
                <div class="col-md-3 footer-info-grid email">
                	<h4>关注我们</h4>
                	<p>
                        输入您的邮箱
                        我们将持续向您提供最新信息
                    </p>

                    <form class="newsletter">
                        <input class="email" type="email" placeholder="Your email...">
                        <input type="submit" class="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

{#            <div class="social-icons">#}
{#	            <ul class="social slideanim" id="follow">#}
{#	                <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>#}
{#	                <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>#}
{#	                <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>#}
{#	                <li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>#}
{#	                <li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>#}
{#	            </ul>#}
{#            </div>#}

            <div class="copyright slideanim">
                <p> 北京万林克通信技术有限公司 版权所有</p>
            </div>

        </div>
    </div>

