<div class="footer">

        <div class="container">

            <div class="footer-info slideanim">
                <div class="col-md-3 footer-info-grid links">
                	<h4>QUICK LINKS</h4>
                	<ul>
	                    <li><a href="#">Home</a></li>
	                    <li><a href="#cover">Coverage</a></li>
	                    <li><a href="#offer">Offers</a></li>
	                    <li><a href="#service">Services</a></li>
	                    <li><a href="#contact">Contact</a></li>
	                </ul>
                </div>
                <div class="col-md-3 footer-info-grid services">
                	<h4>INDUSTRIES</h4>
                	<ul>
	                    <li>Logistics</li>
	                    <li>Aviation</li>
	                    <li>Transport</li>
	                    <li>Consultancy</li>
	                    <li>Shipping</li>
	                </ul>
                </div>
                <div class="col-md-3 footer-info-grid address">
                	<h4>ADDRESS</h4>
                	<address>
	                    <ul>
	                    	<li>Parma Via Modena</li>
	                    	<li>40019 Sant'Agata Bolognese</li>
	                    	<li>BO, Italy</li>
	                    	<li>Telephone : +1 (734) 123-4567</li>
	                    	<li>Email : <a class="mail" href="mailto:mail@example.com">info(at)tradeaux.com</a></li>
	                    </ul>
	               </address>
                </div>
                <div class="col-md-3 footer-info-grid email">
                	<h4>NEWSLETTER</h4>
                	<p>
                        Subscribe to our newsletter and we will
                        inform you about newest projects and promotions.
                    </p>

                    <form class="newsletter">
                        <input class="email" type="email" placeholder="Your email...">
                        <input type="submit" class="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="social-icons">
	            <ul class="social slideanim" id="follow">
	                <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
	                <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
	                <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
	                <li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>
	                <li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
	            </ul>
            </div>

            <div class="copyright slideanim">
                <p> 北京万林克通信技术有限公司 版权所有</p>
            </div>

        </div>



    </div>

