{% extends 'base.html' %}

{% block title %}欢迎来到万林克公司首页{% endblock %}

{% block content %}
    {% for FeedBack in Feed_back %}
        {% if FeedBack.FeedBackHost == User_name%}
            {% if FeedBack.AdminText != null %}
                <script>openLoginModal();</script>
                <div class="container">
                    <div class="modal fade login" id="loginModal">
                        <div class="modal-dialog login animated">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">管理员回复</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="box">
                                        <div class="content">
                                            <div class="error"></div>
                                            {{ FeedBack.AdminText }}
                                            </br></br></br>
                                            {% if FeedBack.AdminDocName != null %}
                                                {{ FeedBack.AdminDocName }}：
                                                </br>
                                                <a href="{{ FeedBack.AdminDoc.url }}">文件下载</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}
    {% endfor %}


    <!-- Header-Starts-Here -->
    <div class="header">

        <div class="container">
        <!-- Navigation -->
		    <nav class="navbar navbar-inverse">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		            </div>
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav">
		                    <li class="active cl-effect-7"><a href="#">首页</a></li>
			                <li class="cl-effect-7 scroll"><a href="#services">公司服务</a></li>
			                <li class="cl-effect-7 scroll"><a href="#offer">产品中心</a></li>
			                <li class="cl-effect-7 scroll"><a href="#cover">解决方案</a></li>
			                <li class="cl-effect-7 scroll"><a href="#about">服务支持</a></li>
			                <li class="cl-effect-7 scroll"><a href="#gallery">项目展示</a></li>
			                <li class="cl-effect-7 scroll"><a href="#contact">联系我们</a></li>
		                </ul>
		            </div>
		            <!-- //Navbar-collapse -->
		    </nav>
        </div>
        <!-- //Container -->

        <!-- Slider-Starts-Here -->
        <div class="slider">
            <ul class="rslides" id="slider">
                {% for b_title in Banner_title %}
                    <li>
                    <img src="{{ b_title.image.url }}" alt="Tradeaux">
                        <div class="caption">
                            <h3>{{b_title.title}}</h3>
                            {% if b_title.subtitle != none %}
                                <p>{{ b_title.subtitle }}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- //Slider-Ends-Here -->

    </div>
    <!-- //Header-Ends-Here -->

    <div class="content">

    	<!-- Area-Starts-Here -->
        <div class="area" id="services">

			<h1>公司服务</h1>


            <div class="container">
                <div class="area1">
                    {% for serve in Service_image %}
                        <div class="col-md-4 col-sm-4 air slideanim">
                        <div class="area-image">
                            <img src="{{ serve.image.url }}" alt="Tradeaux">
                        </div>
                        <div class="area-info">
                            <h4>{{ serve.service.ServiceName }}</h4>
                            <p>{{ serve.service.ServiceIntro }}</p>
                        </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //Area-Ends-Here -->

        <!-- Offer-Starts-Here -->
        <div class="offer slideanim" id="offer">
            <div class="container">
                <h3>产品中心</h3>
                <p>产品介绍</p>
                <div class="offer-grid">
                    {% for pro_im in Product_Image %}
                        <div class="col-md-6 col-sm-6 offer1 slideanim">
                        <div class="offer-icon">
                            <img src="{{ pro_im.image.url }}" alt="Tradeaux">
                        </div>
                        <div class="offer-info">
                            <h4>{{ pro_im.product.ProductTypeName }}</h4>
                            <p>{{ pro_im.product.ProductTypeIntro }}</p>
                        </div>
                        <div class="clearfix"></div>
                         </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //Offer-Ends-Here -->

        <!-- Cover-Starts-Here -->
        <div class="cover" id="cover">
            <div class="container">
                <h3>相关文件</h3>
                <p>技术支持文件</p>

                <div class="cover-grid">
                    {% for doc_handle in Document %}
                        <div class="col-md-4 cover-top-grid slideanim">
                    	<div class="column-wrap clearfix">
                        	<div class="column">
                            	<a class="caption caption-3" href="{{ doc_handle.Document.url }}" data-title="{{ doc_handle.DocumentName }}" data-description="{{ doc_handle.DocumentIntro }}"><img src="{{ doc_handle.DocumentImage.url }}" alt="Tradeaux"></a>
                        	</div>
                    	</div>
                	    </div>
                    {% endfor %}

                	<div class="clearfix"></div>
                </div>

            </div>
        </div>
        <!-- //Cover-Ends-Here -->

        <!-- Details-Starts-Here -->
        <div class="details" id="about">
            <div class="container">
            <h2>服务支持</h2>
            	<!-- News-Starts-Here -->
                {% for support in Support %}

                        {% if support.SupportIntro == '-1' %}
                            <div class="col-md-4 details-grid locations slideanim">
                                <h3>{{ support.SupportName }}</h3>
                                <img src="{{ support.SupportImage.url }}" alt="Tradeaux">
                            </div>
                        {% endif %}


                        {% if support.SupportImage == '-1' %}
                            <div class="col-md-4 details-grid reviews slideanim" id="about">
                            <h3>{{ support.SupportName }}</h3>
                                <div class="about-section-left-grid">
                                    <p>{{ support.SupportIntro }}</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {% endif %}

                    <!-- 图+文字 -->
                    {% if support.SupportImage != '-1' %}
                        {% if support.SupportIntro != '-1' %}
                            <div class="col-md-4 details-grid news slideanim">
                            <h3>{{ support.SupportName}}</h3>
                            <div class="news-top">
                            <div class="news-icon">
                            <img src="{{ support.SupportImage.url }}" alt="Tradeaux">
                            </div>
                                <div class="about-section-left-grid">
                                    <p>{{ support.SupportIntro }}</p>
                                </div>
                            </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    {% endif %}

                {% endfor %}

                <!-- News-Ends-Here -->

            </div>
        </div>
        <!-- Details-Ends-Here -->

    	<!-- Gallery-Starts-Here -->
        <div class="gallery slideanim" id="gallery">
        	<h3>项目展示</h3>
            <div class="gallery-cursual">

                <!-- Screen-Gallery-Carousel -->
                <div id="owl-demo" class="owl-carousel text-center">
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/area1.jpg" alt="name">
                    </div>
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/g1.jpg" alt="name">
                    </div>
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/g2.jpg" alt="name">
                    </div>
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/g3.jpg" alt="name">
                    </div>
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/g4.jpg" alt="name">
                    </div>
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/g5.jpg" alt="name">
                    </div>
                    <div class="item">
                        <img class="lazyOwl" src="../static/images/g6.jpg" alt="name">
                    </div>
                </div>
                <!-- //Screen-Gallery-Carousel -->
            </div>
        </div>
		<!-- //Gallery-Ends-Here -->

    	<!-- Contact-Starts-Here -->
    	<div class="contact slideanim" id="contact">
    		<div class="container">
        		<h3>联系我们</h3>
        		<form id="revise" class="contact_form">

                    <form autocomplete="off">
                        <div class="message">
						<div class="col-md-6 col-sm-6 grid_6 c1">
							<input type="text" id="name" name="name" class="text" value="Name" placeholder="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
							<input type="text" id="email" name="email" class="text" value="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
							<input type="text" id="phone" name="phone" class="text" value="Phone" placeholder="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
						</div>
						<div class="col-md-6 col-sm-6 grid_6 c1">
							<textarea placeholder="Message" id="text" name="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						</div>
			            <div class="clearfix"> </div>
		        	    </div>

					<input type="submit" class="more_btn" value="Send Message">
                    </form>
                    {% csrf_token %}

                    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        $('#revise').submit(function(){
                var name = $("#name").val();                 //获得form中用户输入的name 注意这里的id_name 与你html中的id一致
                var email = $("#email").val();
                var phone = $("#phone").val();
                var text = $("#text").val();//同上


                $.ajax({
                    type:"POST",
                    data: {name:name, email:email, phone:phone, text:text },
                    url: "{% url 'frontPage' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(result, statues, xml){
                        alert(result);                                         //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("提交失败，请联系管理员");
                    }
                });
                return false;
            });

        });
    </script>

			 	</form>
		 	</div>
    	</div>
		<!-- //Contact-Ends-Here -->

    </div>
{% endblock %}